{% extends "base.html" %}
  {% load static %}
  {% block content %}
    <div class="bg-body-tertiary p-5 rounded">
      <h1 class="h1">Vessel List</h1>
      <table id="vessel-list" class="table table-striped table-sm">
        <caption>A vessel list</caption>
        <thead>
          <th scope="col">Id</th>
          <th scope="col">Vessel Name</th>
          <th scope="col">IMO Number</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Pub Date</th>
          <th scope="col">Actions</th>
        </thead>
        <tbody>
        {% if vessel_list %}
          {% for vessels in vessel_list %}
            <tr>
              <td><a href="{% url 'notice:detail' vessels.id %}">{{ vessels.id }}</a></td>
              <td>{{ vessels.ship_name }}</td>
              <td>{{ vessels.ship_IMO }}</td>
              <td>{{ vessels.ship_description }}</td>
              <td>{{ vessels.ship_status_display }}</td>
              <td>{{ vessels.pub_date|date:"Y-m-d" }}</td>
              <td><button class="delete-btn" data-id="{{ vessels.id }}">삭제</button></td>
            </tr>
          {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">No Vessels are available.</td>
            <tr>
        {% endif %}
        </tbody>
      </table>
      <button
        class="btn btn-primary d-inline-flex align-items-center"
        type="button"
        onClick="location.href='/notice/insert/'"
      >
        Add Vessel
      </button>
    </div>
    <script src="{% static 'notice/js/delete.js' %}"></script>
  {% endblock %}