{% extends 'base.html' %}
  {% load static %}
  {% block content %}
    <div class="bg-body-tertiary p-5 rounded">
      <h1 class="h1">Insert Vessel</h1>
      <form class="needs-validation" method="post" novalidate>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="vesselName" class="form-label">Vessel name</label>
            <input
              type="text"
              class="form-control"
              id="vesselName"
              placeholder=""
              value=""
              required
            />
            <div class="invalid-feedback">Valid name is required.</div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="imoNumber" class="form-label">IMO number</label>
            <input
              type="number"
              class="form-control"
              id="imoNumber"
              placeholder=""
              value=""
              required
            />
            <div class="invalid-feedback">Valid IMO number is required.</div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="description" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              id="description"
              placeholder=""
              value=""
            />
          </div>
        </div>
        <div class="row g-3">
          <div class="col-sm-5">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" required>
              <option value="0">Fail</option>
              <option value="1">Success</option>
            </select>
            <div class="invalid-feedback">Please select a valid check Status.</div>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-sm-5" style="margin-top: 30px">
            <button
              id="imoCheckBtn"
              class="btn btn-primary d-inline-flex align-items-center"
              type="button"
            >
              Check IMO number
            </button>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-sm-5" style="margin-top: 30px">
            <button
              id="addVesselBtn"
              class="btn btn-primary align-items-center"
              type="button"
            >
              Add vessel
            </button>
          </div>
        </div>
        <input id="checkImoYn" type="hidden" value="N" />
      </form>
    </div>
    <script src="{% static 'notice/js/insert.js' %}"></script>
  {% endblock %}